
/* Paginator */

::ng-deep .mat-mdc-paginator, ::ng-deep .mat-mdc-paginator-container {
  background-color: transparent !important;
  font-size: 14px !important;
  color: rgba(0,0,0,0.8) !important;
  
}

::ng-deep .mat-mdc-paginator-range-actions {
  background-color: rgba(0,0,0,0.8);
  color: white !important;
  border-radius: 30px;
  margin-bottom: 10px;
}
::ng-deep .mat-mdc-paginator-page-size {
  margin-bottom: 10px;
}

::ng-deep .mdc-notched-outline__trailing,
 ::ng-deep .mdc-notched-outline__leading {
  border-color: rgba(0,0,0,0.8) !important;
}

::ng-deep .mat-mdc-select-value, 
::ng-deep .mat-mdc-select-arrow {
  color: rgba(0,0,0,0.8) !important;
  font-size: 14px !important;
}

::ng-deep .mat-mdc-button-base > *  {
  fill: white !important;
}
::ng-deep .mat-mdc-tooltip-disabled > *  {
  fill: gray !important;
}
