<div class="flex flex-column m-6 gap-3" >
  <h1 class="text-6xl align-self-center font-medium">Top 100</h1>

  <select class="w-fit bg-black-alpha-70 p-2 border-round-2xl text-200 text-xl">
    <option value="all" selected>All Genres</option>
    <option *ngFor="let genre of genres" [value]="genre">{{genre}}</option>
  </select>

  <div class="flex flex-wrap gap-6 justify-content-center">
    <mat-card class="w-20rem card h-fit" *ngFor="let movie of currentMovies">
      <img mat-card-image class="image" src="{{ movie.image }}" alt="" />
      <mat-divider></mat-divider>
      <mat-card-actions class="flex flex-column">
        <div class="flex align-self-start">
          <div class="flex align-items-center">
            <mat-icon class="text-yellow-500">star</mat-icon> 
            <h1 class="m-0 p-0"> {{movie.rating}} </h1>
          </div>
        </div>
        <h1 class="text-center font-medium"> {{movie.title}} </h1>
      </mat-card-actions>
    </mat-card>
  </div>

  <mat-paginator
    [length]="movies.length"
    [pageSize]="moviesPerPage"
    [pageSizeOptions]="[8, 16, 24]"
    aria-label="Select page"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</div>


