<div class="flex flex-column min-h-screen">

  <mat-sidenav-container class="flex-1">
    <mat-sidenav #sidenav mode="push" [ngStyle]="{ width: '15rem' }" >
      <mat-toolbar class="w-auto bg-black-alpha-80 text-200 p-6">
        <span>Menú</span>
        <span class="spacer"></span>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar>
  
      <mat-nav-list>
        <mat-list-item
          *ngFor="let item of sidebarItems"
          [routerLink]="item.url"
          (click)="sidenav.toggle()"
        >
          <mat-icon matListItemIcon > {{item.icon}} </mat-icon>
          <span class="text-base font-medium">{{item.label}}</span>
        </mat-list-item>
      </mat-nav-list>
  
    </mat-sidenav>
  
    <mat-toolbar *ngIf="isScreenSizeMDOrSmaller" class=" w-auto bg-black-alpha-80 text-200 p-6" >
      <button mat-icon-button (click)="sidenav.toggle()" class="">
        <mat-icon class="text-3xl">menu</mat-icon>
      </button>
      <span class="cursor-pointer ml-auto mr-auto" routerLink="./">
        <img src="../../../../../assets/images/title.png" alt="" class="sm:w-16rem md:w-17rem">
      </span>
    </mat-toolbar>
  
    <mat-toolbar *ngIf="!isScreenSizeMDOrSmaller" class="w-auto bg-black-alpha-80 text-600 pt-6 pb-6" >
      <span class="ml-6 cursor-pointer w-1rem" routerLink="./">
        <img src="../../../../../assets/images/title.png" alt="" class="sm:w-16rem md:w-17rem">
      </span>
      <span class="spacer"></span>
      <div class="flex w-auto mr-6 gap-3">
        <div  class="d-flex">
          <button mat-button class="text-xl" routerLinkActive="text-200"  [routerLinkActiveOptions]="{exact: true}" mat-button routerLink="./">Home</button>
          <button mat-button class="text-xl" routerLinkActive="text-200" mat-button routerLink="./list">Top 100</button>
          <button mat-button class="text-xl" routerLinkActive="text-200" mat-button routerLink="./saved">Saved movies</button>
        </div>
      </div>
    </mat-toolbar>
    
    <router-outlet/>
  
  </mat-sidenav-container>

  <mat-toolbar class="mt-auto w-auto bg-black-alpha-80 text-200 p-6">
    <span class="text-base md:text-xl" >© Alexisleo 2023. All rights reserved.</span>
    <span class="spacer"></span>
    <span class="flex w-6rem justify-content-between">
      <a target="_blank" rel="noopener noreferrer" href="https://github.com/AlexisleoMena">
        <img src="../../../../../assets/images/github.png" alt="github" height="35px" width="35px" >
      </a>
      <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/alexis-leonardo-mena/">
        <img src="../../../../../assets/images/linkedin.png" alt="linkedin" height="35px" width="35px" >
      </a>
    </span>
  </mat-toolbar>
</div>