<ng-container *ngIf="savedMovies.length > 0; else emptyList">
  <div class="min-h-screen flex flex-wrap p-6 gap-6 justify-content-center">
    <movie-card
      class="w-13rem md:w-16rem card h-fit relative"
      *ngFor="let movie of savedMovies"
      [movie]="movie"
    ></movie-card>
  </div>
</ng-container>

<ng-template #emptyList>
  <div
    class="p-6 gap-6 flex flex-column h-20rem justify-content-between align-items-center"
  >
    <h2 class="title lg:w-30rem text-center text-2xl">Your list is empty</h2>
    <h3 class="title lg:w-30rem text-center text-xl">
      Check the list and add some movies
    </h3>
    <button
      mat-raised-button
      color="primary"
      [routerLink]="['/home/list']"
      class="w-16rem p-2 bg-gray-800 text-200 text-base"
    >
      Check List
    </button>
  </div>
</ng-template>
