<div class="flex flex-column w-auto gap-6 m-4 md:m-8 justify-content-center" *ngIf="movie">
  <div class="flex w-auto flex-column">
    <div class="flex w-auto justify-content-between align-items-center h-auto">
      <h2 class="text-xl m-0 p-0 pb-2"><strong>{{ movie.rank }}. {{ movie.title }}</strong></h2>
      <mat-icon class="scale-1-5 text-yellow-500">bookmark</mat-icon>
    </div>
    <div class="flex w-auto justify-content-between">
      <div class="flex align-items-center">
        <h5 class="m-0 p-0">IMDb RATING: {{ movie.rating }}/10</h5>
        <mat-icon class="text-yellow-500 text-xl m-0 p-0">star</mat-icon>
      </div>
      <h5 class="m-0 p-0">Year: {{ movie.year }}</h5>
    </div>
  </div>
  <div class="flex w-17rem md:w-auto md:h-27rem align-self-center md:align-self-auto flex-column md:flex-row gap-6">
      <img
      mat-card-image
      class="image"
      src="{{ movie.image }}"
      alt=""
      [style.height.%]="100"
      />
    <iframe
      id="player"
      type="text/html"
      [style.width.%]="100"
      [style.height.%]="100"
      [src]="safeTrailerUrl"
      frameborder="0"
    ></iframe>
  </div>
  <div>
    <h3><strong>Description: </strong> {{ movie.description }}</h3>
    <h3><strong>Writers: </strong></h3>
    <ul>
      <li *ngFor="let writer of movie.writers" class="text-base">{{ writer }}</li>
    </ul>
    <h3><strong>Director: </strong> {{ movie.director }}</h3>
  </div>
  <a
    mat-raised-button
    color="primary"
    [href]="'https://www.imdb.com/title/' + movie.imdbid"
    target="_blank"
    class="w-12rem p-2 bg-yellow-500 text-black-alpha-90 font-semibold align-self-center"
    >Check on IMDb</a
  >
</div>
