.image {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
  transition: box-shadow 0.8s;
  transition: filter 0.8s;
}
.image:hover {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  filter: brightness(73%);
}


.add-icon {
  color: var(--yellow-400) !important;
}
.add-icon:hover {
  color: var(--yellow-700) !important;

}